<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyzy.hospital.mp.mapper.WxAccountMapper">

	<resultMap id="wxAccountMap" type="com.wyzy.hospital.mp.entity.WxAccount">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="account" column="account"/>
		<result property="appid" column="appid"/>
		<result property="appsecret" column="appsecret"/>
		<result property="url" column="url"/>
		<result property="token" column="token"/>
		<result property="aeskey" column="aeskey"/>
		<result property="qrUrl" column="qr_url"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="delFlag" column="del_flag"/>
	</resultMap>
</mapper>
