<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyzy.hospital.cyclopedia.mapper.FoodTagMapper">

  <resultMap id="foodTagMap" type="com.wyzy.hospital.cyclopedia.entity.FoodTag">
                  <id property="foodTagId" column="food_tag_id"/>
                        <result property="foodDetailsId" column="food_details_id"/>
                        <result property="tagId" column="tag_id"/>
            </resultMap>
</mapper>
