<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyzy.hospital.tcm.mapper.TcmBookattrMapper">

  <resultMap id="tcmBookattrMap" type="com.wyzy.hospital.tcm.entity.TcmBookattr">
                  <id property="id" column="id"/>
                        <result property="bookattrName" column="bookattr_name"/>
                        <result property="type" column="type"/>
	  					<result property="delFlag" column="del_flag"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
            </resultMap>
	<resultMap id="tcmBookattrDTOMap" type="com.wyzy.hospital.tcm.dto.TcmBookattrDTO">
		<id property="id" column="id"/>
		<result property="bookattrName" column="bookattr_name"/>
		<result property="type" column="type"/>
		<result property="delFlag" column="del_flag"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>
	<select id="selectByName" resultMap="tcmBookattrMap">
		select id,bookattr_name,type,del_flag,create_time,update_time from tcm_bookattr where bookattr_name = #{bookattrName}
	</select>
	<select id="selectPojoDTOByName" resultMap="tcmBookattrDTOMap">
		select id,bookattr_name,type,del_flag,create_time,update_time from tcm_bookattr where bookattr_name = #{bookattrName}
	</select>
	<select id="selectAll" resultMap="tcmBookattrDTOMap">
		select id,bookattr_name,type,create_time,update_time from tcm_bookattr where type = #{type} and del_flag = 0 ORDER BY update_time DESC
	</select>
	<select id="selectType" resultType="java.lang.Integer">
		SELECT type FROM tcm_bookattr GROUP BY type
	</select>
	<select id="selectTcmBookattrList" resultMap="tcmBookattrMap">
		select id,bookattr_name,type,create_time,update_time,del_flag from tcm_bookattr where del_flag = 0 ORDER BY update_time DESC
	</select>
	<select id="selectTcmBookattrByType" resultMap="tcmBookattrDTOMap">
		select id,bookattr_name,type,create_time,update_time from tcm_bookattr where type = #{type} and del_flag = 0 ORDER BY update_time DESC
	</select>
	<delete id="deleteTcmBookattrBy">
		delete from tcm_bookattr where id = #{id}
	</delete>
	<insert id="insertTcmBookattr">
		insert into tcm_bookattr(id,bookattr_name,type,del_flag,create_time,update_time)
		values (#{tcmBookattr.id},#{tcmBookattr.bookattrName},#{tcmBookattr.type},#{tcmBookattr.delFlag},#{tcmBookattr.createTime},#{tcmBookattr.updateTime})
	</insert>
	<update id="updatePojoById">
		update tcm_bookattr
		set
		<if test="tcmBookattr.id != null and tcmBookattr.id != ''">
		id = #{tcmBookattr.id},
		</if>
		<if test="tcmBookattr.bookattrName != null and tcmBookattr.bookattrName != ''">
		bookattr_name = #{tcmBookattr.bookattrName},
		</if>
		<if test="tcmBookattr.type != null and tcmBookattr.type != ''">
		type = #{tcmBookattr.type},
		</if>
		<if test="tcmBookattr.createTime != null">
		create_time = #{tcmBookattr.createTime},
		</if>
		del_flag = #{tcmBookattr.delFlag},
		update_time = #{tcmBookattr.updateTime}
		where id = #{tcmBookattr.id}
	</update>
</mapper>
