<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyzy.hospital.admin.mapper.ClinicCommentsMapper">

  <resultMap id="clinicCommentsMap" type="com.wyzy.hospital.admin.api.entity.ClinicComments">
                  <id property="commentId" column="comment_id"/>
                        <result property="clinicId" column="clinic_id"/>
                        <result property="clinicName" column="clinic_name"/>
                        <result property="clinicCode" column="clinic_code"/>
                        <result property="technologyId" column="technology_id"/>
                        <result property="skuId" column="sku_id"/>
                        <result property="orderId" column="order_id"/>
                        <result property="userId" column="user_id"/>
                        <result property="image" column="image"/>
                        <result property="addImage" column="add_image"/>
                        <result property="replay" column="replay"/>
                        <result property="comment" column="comment"/>
                        <result property="addComment" column="add_comment"/>
                        <result property="state" column="state"/>
                        <result property="ifSensitive" column="if_sensitive"/>
                        <result property="addTime" column="add_time"/>
                        <result property="star" column="star"/>
                        <result property="serviceStar" column="service_star"/>
                        <result property="environmentStar" column="environment_star"/>
                        <result property="doctorStar" column="doctor_star"/>
                        <result property="impression" column="impression"/>
                        <result property="status" column="status"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
            </resultMap>

      <resultMap id="clinicCommentMap" type="com.wyzy.hospital.admin.api.dto.ClinicCommentsDTO">
            <id property="commentId" column="comment_id"/>
            <result property="clinicId" column="clinic_id"/>
            <result property="clinicName" column="clinic_name"/>
            <result property="clinicCode" column="clinic_code"/>
            <result property="technologyId" column="technology_id"/>
            <result property="skuId" column="sku_id"/>
            <result property="orderId" column="order_id"/>
            <result property="userId" column="user_id"/>
            <result property="image" column="image"/>
            <result property="addImage" column="add_image"/>
            <result property="replay" column="replay"/>
            <result property="comment" column="comment"/>
            <result property="addComment" column="add_comment"/>
            <result property="state" column="state"/>
            <result property="ifSensitive" column="if_sensitive"/>
            <result property="addTime" column="add_time"/>
            <result property="star" column="star"/>
            <result property="serviceStar" column="service_star"/>
            <result property="environmentStar" column="environment_star"/>
            <result property="doctorStar" column="doctor_star"/>
            <result property="impression" column="impression"/>
      </resultMap>


      <select id="getCommentsListByClinicId" resultMap="clinicCommentMap">
            select c.clinic_title clinicName,cms.* from (select *  from  clinic_comments where clinic_id = #{clinicId} ) cms
            left join clinic c on cms.clinic_id = c.clinic_id
            <where>
                  <if test="clinicId!=null and clinicId != 0">
                        c.clinic_id = #{clinicId}
                  </if>
            </where>
      </select>

      <select id="getGoodenvironmentByClinicId" resultMap="clinicCommentMap">
            select c.clinic_title clinicName,cms.* from (select *  from  clinic_comments where clinic_id = #{clinicId} ) cms
            left join clinic c on cms.clinic_id = c.clinic_id
            <where>
                  <if test="clinicId!=null and clinicId != 0">
                        c.clinic_id = #{clinicId}
                  </if>
                  and
                  environment_star >= 4
            </where>
      </select>


      <select id="getGoodDoctorByClinicId" resultMap="clinicCommentMap">
            select c.clinic_title clinicName,cms.* from (select *  from  clinic_comments where clinic_id = #{clinicId} ) cms
            left join clinic c on cms.clinic_id = c.clinic_id
            <where>
                  <if test="clinicId!=null and clinicId != 0">
                        c.clinic_id = #{clinicId}
                  </if>
                  and
                  doctor_star >= 4
            </where>
      </select>

      <select id="getGoodServiceByClinicId" resultMap="clinicCommentMap">
            select c.clinic_title clinicName,cms.* from (select *  from  clinic_comments where clinic_id = #{clinicId} ) cms
            left join clinic c on cms.clinic_id = c.clinic_id
            <where>
                  <if test="clinicId!=null and clinicId != 0">
                        c.clinic_id = #{clinicId}
                  </if>
                  and
                  doctor_star >= 4
            </where>
      </select>

</mapper>
