<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyzy.hospital.admin.mapper.ConsultatRoomMapper">

  <resultMap id="consultatRoomMap" type="com.wyzy.hospital.admin.api.entity.ConsultatRoom">
                  <id property="id" column="id"/>
                        <result property="consultatName" column="consultat_name"/>
                        <result property="hosdepdetailId" column="hosdepdetail_id"/>
                        <result property="position" column="position"/>
                        <result property="photo" column="photo"/>
                        <result property="delFlag" column="del_flag"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
            </resultMap>

    <sql id="selectAll">
        consultat_name,hosdepdetail_id,position,photo,del_flag
    </sql>

    <select id="selectConsultatRoomByhosdepdetailId" resultMap="consultatRoomMap">
        select <include refid="selectAll"/> from consultat_room where del_flag = 0 and hosdepdetail_id = #{hosdepdetailId}
    </select>

    <delete id="deleteByHosdepdetailId">
        delete from consultat_room where del_flag = 0 and hosdepdetail_id = #{hosdepdetailId}
    </delete>

</mapper>
