<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyzy.hospital.admin.mapper.EnMedicineMapper">

  <resultMap id="enMedicineMap" type="com.wyzy.hospital.admin.api.entity.EnMedicine">
                  <id property="id" column="id"/>
                        <result property="medicineName" column="medicine_name"/>
                        <result property="diseaseId" column="disease_id"/>
                        <result property="content" column="content"/>
                        <result property="indications" column="Indications"/>
                        <result property="takeMethod" column="take_method"/>
                        <result property="medicineHint" column="medicine_hint"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
            </resultMap>


    <select id="selectEnMedicineByDiseaseName"   resultMap="enMyMedicineMap">
        select e.id,e.medicine_name,e.disease_id,e.content,e.Indications,e.take_method,e.medicine_hint,e.create_time,e.update_time,d.id,d.disease_name,d.disease_nicknames,d.department_id,d.content,d.symptom,d.disease_cause,d.img
         from en_diseases d INNER JOIN en_medicine e on e.disease_id=d.id
        WHERE d.disease_name=#{diseaseName}
    </select>

    <resultMap id="enMyMedicineMap" type="com.wyzy.hospital.admin.api.dto.EnMedicineDTO">
        <id property="id" column="id"/>
        <result property="medicineName" column="medicine_name"/>
        <result property="diseaseId" column="disease_id"/>
        <result property="content" column="content"/>
        <result property="indications" column="Indications"/>
        <result property="takeMethod" column="take_method"/>
        <result property="medicineHint" column="medicine_hint"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <collection property="enDiseasesList" ofType="com.wyzy.hospital.admin.api.entity.EnDiseases">
            <id property="id" column="id"/>
            <result property="diseaseName" column="disease_name"/>
            <result property="diseaseNicknames" column="disease_nicknames"/>
            <result property="departmentId" column="department_id"/>
            <result property="content" column="content"/>
            <result property="symptom" column="symptom"/>
            <result property="diseaseCause" column="disease_cause"/>
            <result property="img" column="img"/>
            <result property="createTime" column="create_time"/>
            <result property="updateTime" column="update_time"/>
        </collection>
    </resultMap>

</mapper>
