<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyzy.hospital.admin.mapper.PhysicalMotionFabulousMapper">

  <resultMap id="physicalMotionFabulousMap" type="com.wyzy.hospital.admin.api.entity.PhysicalMotionFabulous">
                  <id property="id" column="id"/>
                        <result property="stepsId" column="steps_id"/>
                        <result property="memberId" column="member_id"/>
            </resultMap>
</mapper>
