<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyzy.hospital.psychology.mapper.DoctorCounselMapper">

  <resultMap id="doctorCounselMap" type="com.wyzy.hospital.psychology.api.entity.DoctorCounsel">
                        <id property="id" column="id"/>
                        <result property="doctorId" column="doctor_id"/>
                        <result property="counselTypeId" column="counsel_type_id"/>
            </resultMap>
    <select id="selectDoctorCounselBydoctorCounsel" resultMap="doctorCounselMap">
        select id,doctor_id,counsel_type_id from doctor_counsel where doctor_id = #{doctorCounsel.doctorId} and counsel_type_id = #{doctorCounsel.counselTypeId}
    </select>
    <select id="selectDoctorCounselCounselTypeId" resultMap="doctorCounselMap">
        select id,doctor_id,counsel_type_id from doctor_counsel where counsel_type_id = #{counselId}
    </select>
</mapper>
