<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyzy.hospital.psychology.mapper.DoctorTrainingMapper">

  <resultMap id="doctorTrainingMap" type="com.wyzy.hospital.psychology.api.entity.DoctorTraining">
                        <id property="id" column="id"/>
                        <result property="doctorId" column="doctor_id"/>
                        <result property="trainingName" column="training_name"/>
                        <result property="startDate" column="start_date"/>
                        <result property="endDate" column="end_date"/>
  </resultMap>
    <select id="selectByDoctorId" resultMap="doctorTrainingMap">
        select id,doctor_id,training_name,start_date,end_date from doctor_training where doctor_id = #{doctorId}
    </select>
    <select id="selectByDoctorTraining" resultType="java.lang.Integer">
        select count(*)from doctor_training
        where doctor_id = #{doctorTraining.doctorId}
        and training_name = #{doctorTraining.trainingName}
    </select>
</mapper>
