<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyzy.hospital.psychology.mapper.ServeMapper">

  <resultMap id="serveMap" type="com.wyzy.hospital.psychology.api.entity.Serve">
                  <id property="serveId" column="serve_id"/>
                        <result property="serveName" column="serve_name"/>
            </resultMap>
    <select id="selectDoctorServeByServeName" resultMap="serveMap">
        select serve_id,serve_name from serve where serve_name = #{serveName}
    </select>
</mapper>
